@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
  padding: 2rem;
}

.container-height {
  height: 5rem; /* Your custom height value */
}

.sidebar-height {
  height: 31rem; /* Your custom height value */
}

.topbar-height {
  height: 6rem;
}

.content {
  margin-top: 6rem;
  margin-left: 20rem;
  padding: 1rem;
}

/*Dashboard styles*/

.watchlist-container {
  /* Your existing styles */
  /* ... */
  overflow: hidden; /* Hide the main container's scrollbar */
}

.watchlist-scroll-container {
  max-height: 500px; /* Set the max height for the scrollable content */
  overflow-y: auto;
  width: calc(100% + 20px);
  margin-right: -20px;
  padding-right: 20px;
}

/* Hide the scrollbar in Webkit browsers (Chrome, Safari, etc.) */
.watchlist-scroll-container::-webkit-scrollbar {
  width: 0;
}

.watchlist-scroll-container::-webkit-scrollbar-thumb {
  background-color: #888888;
}

/* Hide scrollbar in Firefox */
.watchlist-scroll-container {
  scrollbar-width: thin;
  scrollbar-color: #888888 transparent;
}

.portfolio-scroll-container {
  /* Set the max height for the scrollable content */
  overflow-x: auto;
}
.portfolio-scroll-container::-webkit-scrollbar {
  width: 0;
}

.dashboard-scroll-container {
  overflow-y: auto;
}

.dashboard-scroll-container::-webkit-scrollbar {
  width: 0;
}

/*Dashboard styles*/

/* Bot style*/

/* Add this CSS to your stylesheet or component */
.stock-table {
  border-collapse: collapse;
  width: 100%;
}

.stock-table th, .stock-table td {
  border: 1px solid #000;
  padding: 8px;
  text-align: left;
}
